/* Tổng thể khung trang */
.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Montserrat', sans-serif;
    padding: 50px 20px;
}

/* Header */
.site-header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.4rem;
}

/* Đường kẻ phân cách */
.divider {
    width: 100%;
    max-width: 800px;
    height: 1px;
    background-color: #969090;
    margin-bottom: 40px;
}