.highlights-container {
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.highlights-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: left;
    color: #000;
}

.highlights-box {
    border: 1px solid #a8a1a1;
    border-radius: 12px;
    padding: 30px 20px 30px 40px;
    background-color: #fff;
}

.highlights-box ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    width: 95%;
}

.highlights-box li {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
    font-weight: 400;
}

.highlights-box li:last-child {
    margin-bottom: 0;
}